{% extends 'base.html' %}

{% block content %}
<meta http-equiv="refresh" content="30">
<html>
	<body>
		<h1> Chart view: </h1>
		<br>

		<h2> Tags selected: </h2>
		{% if chosen %}						
			
			{% for tag in tags %}		
				<div>
					<h4><a href = "/tags/get/{{ tag.id }}/">Tag id:{{ tag.id }}. {{ tag.tagInfo }}</a></h4>
						<p> {{ tag.datasource }} </p>
				</div>
		
			{% endfor %}



			{% if chosen %}
			<h2>Chart created: </h2>			
				<div class="grid_6">
                    <h2>LineChart</h2>
                    <img src="/chart/chart/image/{{ urlEnd }}" alt="IMAGE">
                </div> 
            {% endif %}

		{% else %}
		<br>
		<br>
			<h3>None tag selected to create the chart.</h3>
		{% endif %}		

		
		
	</body>
</html>
{% endblock %}